@using Microsoft.Extensions.Options
@model CourseShare.Domain.DTO.MyCoursesDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <!-- Main content -->
        <div class="col-lg-9 mb-3">
            
            <!-- End of post 1 -->
            @if (Model.Courses.Count == 0)
            {
                
                <h3 colspan="5">Нема активни курсеви</h3>
                
            }
            else
            {
                @for (int i = 0; i < Model.Courses.Count; i++)
                {
                    var item = Model.Courses[i];
                    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5>
                                    @item.CurrentCourse.CourseName
                                </h5>
                                <p class="text-sm"><span class="op-6">Додадено од</span> <a class="text-black" href="#">@item.CurrentCourse.AddedByUser</a> </p>
                                <div class="text-sm op-5">  <span class="text-black mr-2" href="#">@item.CurrentCourse.CourseDescription</span>  </div>
                                <div class="text-sm op-5">  <span class="text-black mr-2" href="#">@item.CurrentCourse.CourseLink</span>  </div>
                                <div class="text-sm op-5">  <span class="text-black mr-2" href="#">@item.CurrentCourse.CourseQuiz</span>  </div>
                            </div>
                            <div class="col-md-4 op-7">
                                <div class="row text-center op-7">
                                    <div class="col px-1"> <i class="ion ion-md-star icon-1x"></i> <span class="d-block text-sm">Оцена: @item.CurrentCourse.CourseRating</span> </div>
                                    <div class="col px-1">
                                        <a asp-controller="MyCourses" asp-action="DeleteFromMyCourses" asp-route-id="@item.CourseId" class="btn btn-danger">Заврши курс</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                }
            }
            @*<div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">Drupal 8 quick starter guide</a>
                        </h5>
                        <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">20 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">KenyeW</a></p>
                        <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#C++</a> <a class="text-black mr-2" href="#">#AppStrap Theme</a> <a class="text-black mr-2" href="#">#Wordpress</a> </div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">141 Votes</span> </div>
                            <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">122 Replys</span> </div>
                            <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">290 Views</span> </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>


@*<div class="container">

    <div class="row m-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Courses.Count == 0)
                {
                    <tr>
                        <td colspan="5">No active Courses</td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.Courses.Count; i++)
                    {
                        var item = Model.Courses[i];

                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@item.CurrentCourse.CourseName</td>
                            <td>$@item.CurrentCourse.CourseRating</td>
                            <td><a asp-controller="MyCourses" asp-action="DeleteFromMyCourses" asp-route-id="@item.CourseId" class="btn btn-danger">Delete From MyCourses</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>*@