@model List<CourseShare.Domain.DomainModels.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

</style>

<body>
<div class="event-schedule-area-two bg-color pad100">
    <div class="row">
            <a class="btn btn-outline-success" asp-action="Create">Додај нов курс</a>
    </div>
    <div class="row">
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Име на курс</th>
                                        <th scope="col">Јазик</th>
                            
                                        <th scope="col">Рејтинг</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                     {
                                        var item = Model[i];
                                    <tr class="inner-box">
                                        <th scope="row">
                                            <div class="event-date">
                                                <span>@item.CourseName</span>
                                                
                                            </div>
                                        </th>
                                        
                                        <td>
                                            <div class="event-wrap">
                                                
                                                <div class="meta">
                                                    <div class="organizers">
                                                        <p>@item.CourseLanguage</p>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="r-no">
                                                <span>@item.CourseRating</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="primary-btn">
                                                <a asp-controller="Courses" asp-action="AddCourseToMyCourses" asp-route-id="@item.Id" class="btn btn-primary">Додај во Mои курсеви</a>
                                                    <a asp-controller="Courses" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Промени</a>
                                                    <a asp-controller="Courses" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-secondary">Избриши</a>
                                                </div>                           
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                </table>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
    </body>
    
     @*  @for (int i = 0; i < Model.Count; i++)
       {
           var item = Model[i];

           if(i % 3 == 0)
           {
               @:<div class="row">
           }

        <div class="col-md-3 m-4">
            <div class="card" style="width: 18rem; height: 30rem;">

                <div class="card-body">
                    <h3 class="card-title">@item.CourseName</h3>
                    <p class="card-text">@item.CourseDescription</p>
                </div>

                <div class="card-footer">
                    <a asp-controller="Courses" asp-action="AddCourseToMyCourses" asp-route-id="@item.Id" class="btn btn-info">Add to My Courses</a>
                    <a asp-controller="Courses" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>


           if(i % 3 == 2)
           {
               @:</div>
           }
       }*@
